<a href="https://colab.research.google.com/github/joshuayyoung/Database-Design-Implementation/blob/main/database_design_concept.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3

# est connection
conn = sqlite3.connect('demo.db')

# used to exe SQL commands
cursor = conn.cursor()

In [ ]:
# create 'Users' table
cursor.execute('''CREATE TABLE IF NOT EXISTS Users (
                    user_id INTEGER PRIMARY KEY,
                    username TEXT UNIQUE,
                    email TEXT UNIQUE,
                    password TEXT,
                    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
                    )''')

# create 'UserActivities' table
cursor.execute('''CREATE TABLE IF NOT EXISTS UserActivities (
                    activity_id INTEGER PRIMARY KEY,
                    user_id INTEGER,
                    activity TEXT,
                    activity_time TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
                    FOREIGN KEY (user_id) REFERENCES Users(user_id)
                    )''')

# create 'UserConnections' table
cursor.execute('''CREATE TABLE IF NOT EXISTS UserConnections (
                    connection_id INTEGER PRIMARY KEY,
                    user1_id INTEGER,
                    user2_id INTEGER,
                    connection_time TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
                    FOREIGN KEY (user1_id) REFERENCES Users(user_id),
                    FOREIGN KEY (user2_id) REFERENCES Users(user_id)
                    )''')

In [ ]:
#create indexes for data retrieval
cursor.execute('''CREATE INDEX IF NOT EXISTS idx_user_id ON
              UserActivities(user_id)''')
cursor.execute('''CREATE INDEX IF NOT EXISTS idx_user1_user2 ON
              UserConnections(user1_id, user2_id)''')

In [ ]:
# commit (save) changes
conn.commit()

In [ ]:
#add (insert) data into Users table
cursor.execute("INSERT INTO Users (username, email, password) VALUES (?, ?, ?)", ('alice', 'alice@example.com', 'password123'))
cursor.execute("INSERT INTO Users (username, email, password) VALUES (?, ?, ?)", ('bob', 'bob@example.com', 'secre123'))

#add (insert) data into UserActivities table
cursor.execute("INSERT INTO UserActivities (user_id, activity) VALUES (?, ?)", (1, 'Logged in'))
cursor.execute("INSERT INTO UserActivities (User_id, activity) VALUES (?,?)", (2, 'Posted a comment'))

#add (insert) data into UserConnections table
cursor.execute("INSERT INTO UserConnections (user1_id, user2_id) VALUES (?, ?)", (1,2))
cursor.execute("INSERT INTO UserConnections (user1_id, user2_id) VALUES (?, ?)", (2,1))

In [ ]:
# commit (save) changes

conn.commit()

In [ ]:
# query and print data from the Users table
print("Users:")
cursor.execute("SELECT * FROM Users")
for row in cursor.fetchall():
  print(row)

Users:
(1, 'alice', 'alice@example.com', 'password123', '2024-03-26 17:04:00')
(2, 'bob', 'bob@example.com', 'secre123', '2024-03-26 17:04:00')

In [ ]:
#query and print data from the UserActitivities table
print("\nUser Activites:")
cursor.execute("SELECT * FROM UserActivities")
for row in cursor.fetchall():
  print(row)

User Activites:
(1, 1, 'Logged in', '2024-03-26 17:04:00')
(2, 2, 'Posted a comment', '2024-03-26 17:04:00')

In [ ]:
#query and print data from the UserConnections Table
print("\nUser Connections:")
cursor.execute("SELECT * FROM UserConnections")
for row in cursor.fetchall():
  print(row)

User Connections:
(1, 1, 2, '2024-03-26 17:04:00')
(2, 2, 1, '2024-03-26 17:04:00')

In [ ]:
#close the database connection
conn.close()